body{
   background-color: aqua;
   width: 100%;
   height: 100%;
}
#form{
    width: 500px;
    height: 350px;
    background-color: rgb(132, 132, 182);
    margin: 14% auto;
    text-align: center;
}
